---
path-to-root: ../
ng-app: career-center-hire
name: hire
type: hire
layout: employers.hbs
title: Employers | Career Center
analytics-token: UA-12338791-4

component:
- calendar
- sponsors
- popover

style:
- sponsors
- login
- employer-calendar
- popover
- attributes
- point-of-contact
- contact
---

<section class="flex login-recruiting">
  <div class="login card padded flex-half">
    <div class="login-container watermarked">
      <i class="watermark icon-compass"></i>
      <img class="handshake" src="assets/images/handshake.png" alt="Handshake (formerly TRL)">
      <p>A platform for student &amp; employer connection.</p>
      <div class="buttons">
        <a class="flat-btn flex-half" href="https://auburn.joinhandshake.com/login">Sign in</a>
        <a class="flat-btn flex-half" href="https://auburn.joinhandshake.com/register">Register</a>
        <a class="flat-btn flat-btn--white" href="http://support.joinhandshake.com/?b_id=10287">Contact Handshake Support</a>
      </div>
    </div>
  </div>
  <div class="card flex-half recruiting">
    <h2>This is Recruiting.</h2>
    <blockquote>
      Highly effective employers place their emphasis on long-term
      objectives and building connections with students, faculty, 
      and the career staff, rather than focusing on recruiting 
      transactions. It is the Career Center's goal to develop and 
      maintain strong relationships with employers, and we value 
      the opportunity to assist you with your hiring needs.
      <br/>
      <br/>
      Your success is our success. We look forward to helping you 
      put a Tiger On Your Team.
    </blockquote>
    <p>
      <a href="mailto:skipworth@auburn.edu">Jay Skipworth</a>, Assistant Director of Employer Relations
    </p>
  </div>
</section>

<section class="flex">
  <div class="card unpadded services">
    <div class="padded">
      <h2>
        Our Services
      </h2>
      <p>Log in to Handshake to access these services.</p>
      <div class="attributes">
        <div class="attribute">
          <a class="icon format" href="employers/events/">
            <i class="icon-calendar"></i>
          </a>
          <div class="details">Career events</div>
        </div>
        <div class="attribute">
          <a class="icon dress" href="employers/part-time-employment.html">
            <i class="icon-tie"></i>
          </a>
          <p class="details">
            Part-time employment
          </p>
        </div>  
        <div class="attribute">
          <a class="icon majors" href="employers/recruiting.html">
            <i class="icon-interviewer"></i>
          </a>
          <div class="details">Recruiting</div>
        </div>
        <div class="attribute">
          <a class="icon majors" href="employers/info-sessions.html">
            <i class="icon-ellipsis-glass"></i>
          </a>
          <div class="details">Info sessions</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="flex flex--wrap recruiting" id="recruiting-contacts">
  <h2 class="card flex-item">Recruiting Contacts</h2>
  {{#each recruiting.contact}}
    <div class="point-of-contact flex-third card unpadded">
      <h3 class="major separated">{{major}}</h3>
      <div class="flex flex--wrap padded">
        <img src="assets/images/staff/{{getImageName name}}.jpg" alt="{{name}}">
        <div class="poc-info contact flex-item">
          <h2>{{getFirstName name}}<br/>{{getLastName name}}</h2>
          <h3 class="phone"><a href="tel:{{formatPhoneNumber phone}}">{{formatPhoneNumber phone}}</a></h3>
          <h3 class="email"><a href="mailto:{{email}}@auburn.edu">{{email}}</a></h3>
        </div>
      </div>
    </div>
  {{/each}}
</section>
