---
name: majors
type: majors
Title: Majors at Auburn | Career Center
layout: no-social.hbs
---

<section class="content extra-content majors-content">
  <h2>Majors at Auburn</h2>
  <p>Need guidance on how to progress in your major? Find our guide under your college to get started now!</p>
</section>


<div class="colleges">
  
  {{#each majors.college}}
    <div class="college">
      <div class="hero">
        {{#if majors }}
          <img class="{{ name }}" src="assets/images/majors/{{ img }}.jpg">
          <div class="college-header hero-content">
            <div class="overlay"></div>
            <h2>{{ fullname }}</h2>
          </div>
        {{else}}
          <img class="{{ name }} grayscale grayscale-fade" src="assets/images/majors/{{ img }}.jpg">
          <div class="college-header hero-content coming-soon">
            <div class="overlay"></div>
            <h2>{{ fullname }}</h2>
          </div>
        {{/if}}
      </div>
      {{#if majors}}
        <section class="content college-content">
          <a class="collapsed accordion-header" data-toggle="collapse" id="{{ name }}-heading" href="#{{ name }}" role="tab" aria-expanded="false" aria-controls="{{ name }}">
            <i></i>
          </a>
          <div style="height: 0px;" aria-expanded="false" id="{{ name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ name }}-heading">
            {{#each majors}}
              {{#if link}}
                <a class="major" href="assets/images/majors/pdfs/{{ link }}.pdf">{{ name }}</a>
              {{else}}
                <a class="major coming-soon" disabled="disabled">{{ name }} <span class="coming-soon">(Coming soon)</span></a>
              {{/if}}
            {{/each}}
          </div>
        </section>
      {{else}}
        <section class="content coming-soon">
          <h2>Coming soon</h2>
        </section>
      {{/if}}
    </div>
  {{/each}}
</div>
