---
ng-app: career-center-hire
name: off-campus
type: off-campus
layout: employers.hbs
title: Off-Campus Employment | Career Center
analytics-token: UA-12338791-4
path-to-root: ../../
---

<section class="hero content">
  <h2>Off-Campus Employment</h2>
</section>

<section class="content extra-content flex content--no-padding">
  <div class="flex-half recruiting-link padding">
    <h3 class="trl"></h3>
    <p>
      Disgust holiest reason will aversion dead virtues philosophy suicide abstract. 
      Burying selfish good love reason victorious joy justice value value ascetic. 
      God ultimate oneself decieve victorious eternal-return play eternal-return 
      ascetic ascetic. 
    </p>
    <div class="buttons">
      <a href="https://auburn-csm.symplicity.com/employers/index.php?signin_tab=0" class="flat-btn flat-btn--half">Login</a>
      <a href="https://auburn-csm.symplicity.com/employers/?signin_tab=2" class="flat-btn flat-btn--white flat-btn--half">Register</a>
    </div>
  </div>
  <div class="flex-half quick-guide padding">
    <h3>Quickguide</h3>
    <ol>
      <li>Suicide superiority hatred strong chaos marvelous decieve christian will revaluation convictions of.</li>
      <li>Madness deceptions ubermensch sea truth decrepit value pinnacle will will.</li>
      <li>Disgust christian christian derive strong self right enlightenment snare decieve holiest horror passion free. </li>
      <li>Morality ubermensch ocean ultimate oneself christian madness ideal philosophy god chaos. </li>
    </ol>
  </div>
</section>

<section class="content extra-content content--no-padding">
  <h3>Report Placement</h3>
  <div class="flex padding">
    <p class="flex-half">
      Morality overcome love insofar hatred. Intentions fearful 
      prejudice play will enlightenment transvaluation endless 
      overcome christian. Morality reason holiest moral sea pious 
      chaos good value moral noble. Derive zarathustra burying 
      hatred value chaos convictions christian will ultimate 
      society chaos. 
    </p>
    <a href="" class="flat-btn flex-half">Report Placement</a>
  </div>
</section>

<section class="content extra-content content--no-padding">
  <div class="flex row buttons--no-padding">
    <a href="" class="flat-btn                 flex-quarter">Posting a Job</a>
    <a href="" class="flat-btn flat-btn--white flex-quarter">Review Apps on TRL</a>
    <a href="" class="flat-btn                 flex-quarter">Third Party Policy</a>
    <a href="" class="flat-btn flat-btn--white flex-quarter">Interview Tips</a>
  </div>
</section>

<section class="content extra-content">
  <h3 class="faq-header"></h3>
  {{#each off-campus-faq.question }}
  <div class="faq">
    <a class="collapsed accordion-header" data-toggle="collapse" id="{{ id }}-heading" href="#{{ id }}" role="tab" aria-expanded="false" aria-controls="{{ id }}">
      <h4 class="faq-question">{{ question }} <i class="icon-arrow"></i></h4>
    </a>
    <div style="height: 0px;" aria-expanded="false" id="{{ id }}" class="panel-collapse collapse faq-question-contents" role="tabpanel" aria-labelledby="{{ id }}-heading">
      <div class="faq-answer">
        {{#each answer}}
          <p>{{ this }}</p>
        {{/each}}
      </div>
    </div>
  </div>
  {{/each}}
</section>
