---
ng-app: career-center-hire
name: off-campus
type: student-employment
layout: employers.hbs
title: Off-Campus Employment | Career Center
analytics-token: UA-12338791-4
path-to-root: ../../
---

<section class="hero content">
  <h2>Off-Campus Employment</h2>
</section>

<section class="flex">
  <div class="content extra-content flex-half recruiting-link">
    <h3 class="trl"></h3>
    <p>
      Your source for student recruitment.
    </p>
    <div class="attributes">
      <div class="attribute">
        <a class="icon post">
          <i></i>
        </a>
        <div class="details">
          Post positions for free
        </div>
      </div>
      <div class="attribute">
        <a class="icon law">
          <i></i>
        </a>
        <div class="details">
          Comply with equal opportunity laws
        </div>
      </div>
      <div class="attribute">
        <a class="icon calendar">
          <i class="icon-calendar"></i>
        </a>
        <div class="details">
          Register for Career Center events
        </div>
      </div>
    </div>
    <div class="buttons">
      <a href="https://auburn-csm.symplicity.com/employers/index.php?signin_tab=0" class="flat-btn flat-btn--half">Login</a>
      <a href="https://auburn-csm.symplicity.com/employers/?signin_tab=2" class="flat-btn flat-btn--white flat-btn--half">Register</a>
    </div>
  </div>
  <div class="flex-half quick-guide padding">
    <h4>Create an account</h4>
    <ol>
      <li><a href="https://auburn-csm.symplicity.com/employers/?signin_tab=2">Create a new employer account.</a></li>
      <li>Fill out your contact information.</li>
      <li>Under Services, choose Job Postings.</li>
      <li>Submit.</li>
      <li>Wait for the Career Center to approve your registration.</li>
    </ol>
    <h4>Post jobs</h4>
    <ol>
      <li><a href="https://auburn-csm.symplicity.com/employers/index.php?signin_tab=0">Log in.</a><br/><span class="muted">Username: your email address<br/>Password: will be emailed to you</span></li>
      <li>Navigate to the Jobs tab and click "Add New."</li>
      <li>Fill out your job posting.</li>
    </ol>
  </div>
</section>

<section class="content extra-content content--no-padding content--report">
  <div class="flex padding">
    <div class="flex-half">
      <h3>Report Placement</h3>
      <p>
        The Student Employment office is supported by the Job 
        Location &amp; Development grant. In order to 
        maintain this grant, we ask that you provide placement 
        information when you hire Auburn students. No personal 
        information will be made public. 
      </p>
      <p class="survey-length">Estimated length: 4 minutes</p>
      <a href="https://auburn.qualtrics.com/jfe/form/SV_5zkiOXqLCMt6J8h" class="flat-btn">Take Survey</a>
    </div>
    <div class="flex-half contact">
      <h3>Point of Contact</h3>
      <div class="contact-details">
        <img src="assets/images/staff/jay.jpg">
        <div class="contact-info">
          <p class="name">Jay Skipworth</p>
          <p class="phone"><a href="tel:(334) 844-4000">(334) 844-4000</a></p>
          <p class="email"><a href="mailto:skipworth@auburn.edu">skipworth<span class="at-auburn">@auburn.edu</span></a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content extra-content content--no-padding content--tips">
  <h3 class="how-to-header">Tips and Advice</h3>
  <div class="flex buttons buttons--no-padding">
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/12" class="flat-btn                 flex-quarter">Posting a Job</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/14" class="flat-btn flat-btn--white flex-quarter">Reviewing Applications</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/14" class="flat-btn                 flex-quarter">Third Party Recruiting</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/4"  class="flat-btn flat-btn--white flex-quarter">Interviewing</a>
  </div>
</section>

<section class="content extra-content">
  <h3 class="faq-header"></h3>
  
  <div class="panel-group faq" id="faq" role="tablist" aria-multiselectable="true">
    {{#each off-campus-faq.question }}
    <div class="panel panel-default">
      <div class="panel-heading accordion-header" role="tab" id="{{ id }}-heading">
        <h4 class="panel-title faq-question">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}">
            {{ question }}
          </a>
        </h4>
      </div>
      <div id="{{ id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ id }}-heading">
        <div class="panel-body faq-answer">
          {{#each answer}}
            <p>{{ this }}</p>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
