---
path-to-root: ../../
ng-app: career-center-hire
name: on-campus
type: student-employment

layout: employers.hbs
title: On-Campus Employment | Career Center

style:
- attributes
- login
- point-of-contact
- contact
- accordion
---

<section class="card banner">
  <h2>On-Campus Employment</h2>
  <p>
    Welcome! The Auburn University Career Center directs students to TRL to locate 
    on-campus, part-time positions. To ensure compliance with equal opportunity 
    laws, we ask on-campus employers to post positions on TRL for many students to 
    view. Contact Lauren Hobbs if you need assistance using Tiger Recruiting Link 
    (TRL) or have questions related to student employment. 
    Your success is our success. 
  </p>
</section>

<section class="flex">
  <div class="card flex-two-thirds login">
    <h3 class="trl"></h3>
    <p>
      Your source for student recruitment.
    </p>
    <div class="attributes">
      <div class="attribute">
        <a class="icon post">
          <i class="icon-coin-dollar"></i>
        </a>
        <div class="details">
          Post positions for free
        </div>
      </div>
      <div class="attribute">
        <a class="icon law">
          <i class="icon-law"></i>
        </a>
        <div class="details">
          Comply with equal opportunity laws
        </div>
      </div>
      <div class="attribute">
        <a class="icon calendar">
          <i class="icon-calendar"></i>
        </a>
        <div class="details">
          Register for Career Center events
        </div>
      </div>
    </div>
    <div class="buttons">
      <a href="https://auburn-csm.symplicity.com/employers/" class="flat-btn">Sign In</a>
    </div>
  </div>
  <div class="card flex-third point-of-contact">
    <h3>Point of Contact</h3>
    <div class="flex flex--wrap">
      <img src="assets/images/staff/lauren.jpg"
           alt="Lauren Hobbs.">
      <div class="poc-info contact flex-item">
        <p class="name">Lauren Hobbs</p>
        <p class="phone"><a href="tel:(334) 844-3867">(334) 844-3867</a></p>
        <p class="email"><a href="mailto:hobbs@auburn.edu">hobbs<span class="at-auburn">@auburn.edu</span></a></p>
      </div>
    </div>
  </div>
</section>

<section class="quick-guide"> 
  <div class="flex">
    <div class="flex-third padded">
      <h3>Registration</h3>
      <ol>
        <li><a href="https://auburn-csm.symplicity.com/employers/?signin_tab=2" target="_blank">Click here to create a new employer account.</a></li>
        <li>Complete your company profile.</li>
        <li>You may select “All Majors” under the Majors Recruited section.</li>
        <li>Submit.</li>
        <li>Allow at least one business day for the Career Center to verify your registration.</li>
      </ol>
    </div>
    <div class="flex-third padded">
      <h3>Post jobs</h3>
      <ol>
        <li><a href="https://auburn-csm.symplicity.com/employers/">Click here to log in.</a><br/><span class="muted">Username: your email address<br/>Password: will be emailed to you</span></li>
        <li>Navigate to the Jobs tab and click "Add New."</li>
        <li>Select “Post to this school only.”</li>
        <li>Complete job description and submit.<br /><span class="muted">To re-open an old posting, select “Show Archived” under the Copy Existing category.</span></li>
      </ol>
    </div>
    <div class="flex-third padded">
      <h3>Student eligibility requirements</h3>
      <p>
        To be hired as a student employee, the student must either 
        presently enrolled in at least one semester hour, or have 
        been enrolled last semester with plans to enroll next semester.
      </p>
      <h3>Guidelines for work hours</h3>
      <p>
        Up to 20 hours per week (0.50 FTE) while enrolled for
        <strong>all campus jobs combined</strong>.
      </p>
    </div>
  </div>
</section>

<section class="card unpadded content--guide">
  <div class="padded">
    <h3>How to Hire</h3>
    <p>Click the numbers below for additional details.</p>
  </div>
  <ul class="guide attributes">
    <li class="guide-step attribute marginless">
      <a class="icon" href="http://issuu.com/aucc/docs/studentemploymentpolicies/6"></a>
      <div class="details">Post positions on <a href="https://auburn-csm.symplicity.com/employers/index.php?signin_tab=0">TRL</a></div>
    </li>
    <li class="guide-step attribute marginless">
      <a class="icon" href="http://issuu.com/aucc/docs/studentemploymentpolicies/4"></a>
      <div class="details">Interview applicants and select your student worker(s)</div>
    </li>
    <li class="guide-step attribute marginless">
      <a class="icon" href="http://issuu.com/aucc/docs/studentemploymentpolicies/8"></a>
      <div class="details">Determine student enrollment</div>
    </li>
    <li class="guide-step attribute marginless">
      <a class="icon" href="http://issuu.com/aucc/docs/studentemploymentpolicies/8"></a>
      <div class="details">Determine hiring status (active, new-hire, terminated)</div>
    </li>
    <li class="guide-step attribute marginless">
      <a class="icon" href="http://issuu.com/aucc/docs/studentemploymentpolicies/10"></a>
      <div class="details">Determine the number of hours the student can work</div>
    </li>
    <li class="guide-step attribute marginless">
      <a class="icon" href="http://issuu.com/aucc/docs/studentemploymentpolicies/10"></a>
      <div class="details">Complete and submit appropriate paperwork to HR</div>
    </li>
  </ul>
  <a href="assets/images/student-employment-handbook.pdf" class="flat-btn marginless">Supervisor Handbook</a>
</section>

<section class="card unpadded advice">
  <h3 class="protected">Tips and Advice</h3>
  <div class="flex buttons buttons--no-padding">
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/4"  class="flat-btn                 flex-quarter marginless">Interviewing</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/6"  class="flat-btn flat-btn--white flex-quarter marginless">Classify a Student</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/6"  class="flat-btn                 flex-quarter marginless">Hiring Process</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/10" class="flat-btn flat-btn--white flex-quarter marginless">Paperwork Process</a>
  </div>
</section>

<section class="card">
  <h3>Frequently Asked Questions</h3>
  <div class="faq" id="faq">
    {{#each on-campus-faq.question }}
    <div class="accordion">
      <a class="accordion-header flat-btn flat-btn--white faq-header collapsed" 
         role="tab" 
         data-toggle="collapse"
         id="{{ id }}-heading"
         href="#{{ id }}"
         aria-expanded="false"
         aria-controls="{{ id }}">
        {{ question }}
      </a>
      
      <div style="height: 0px;"
         role="tabpanel"
         aria-expanded="false"
         id="{{ id }}"  
         aria-labelledby="{{ id }}-heading">
        <div class="accordion-entry">
          {{#each answer}}
            <p>{{ this }}</p>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
