---
name: pathways
type: pathways
title: Pathways | Career Center
layout: no-social.hbs
---

<div class="extras">
  <div class="buttons">
    <a class="flat-btn flat-btn--half flat-btn--white" href="http://bulletin.auburn.edu/undergraduate/majors/">Majors &amp; Minors</a>
    <a class="flat-btn flat-btn--half" href="experience">Gain Experience</a>
  </div>
</div>

<section class="content extra-content pathways-content">
  <h2>Pathways</h2>
  <p>Comprehensive guides for each major to enhance your academic experience and support your career preparation.</p>
</section>

<div class="colleges">
  
  {{#each pathways.college}}
    <div class="college">
      <div class="hero">
        {{#if pathways }}
          <img class="{{ name }}" src="assets/images/pathways/{{ img }}.jpg">
          <div class="college-header hero-content">
            <div class="overlay"></div>
            <h2>{{ fullname }}</h2>
          </div>
        {{else}}
          <img class="{{ name }} grayscale grayscale-fade" src="assets/images/pathways/{{ img }}.jpg">
          <div class="college-header hero-content coming-soon">
            <div class="overlay"></div>
            <h2>{{ fullname }}</h2>
          </div>
        {{/if}}
      </div>
      {{#if pathways}}
        <section class="content college-content">
          <a class="collapsed accordion-header" data-toggle="collapse" id="{{ name }}-heading" href="#{{ name }}" role="tab" aria-expanded="false" aria-controls="{{ name }}">
            <i></i>
          </a>
          <div style="height: 0px;" aria-expanded="false" id="{{ name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ name }}-heading">
            {{#each pathways}}
              {{#if link}}
                <a class="pathway" href="assets/images/pathways/pdfs/{{ link }}.pdf">{{ name }}</a>
              {{else}}
                <a class="pathway coming-soon" disabled="disabled">{{ name }} <span class="coming-soon">(Coming soon)</span></a>
              {{/if}}
            {{/each}}
          </div>
        </section>
      {{else}}
        <section class="content coming-soon">
          <h2>Coming soon</h2>
        </section>
      {{/if}}
    </div>
  {{/each}}
</div>
