---
title: Request a Presentation | Career Center
name: presentations
---

<div class="presentations-banner content">
  <h2>Request a Presentation</h2>
</div>

<form id="presentations" name="presentations" method="post" action="link.php">
  <div class="topics content extra-content">
    <h2>Choose a Topic</h2>
    <p>
      Choose any <strong>one</strong> of the following topics:
    </p>
    <div class="topic-groups">
    {{#each presentation-fields.topic-groups}}
      <fieldset class="topic-group">
        <h3 class="topic-group-name">{{ name }}</h3>
        {{#each topics}}
        <div class="topic">
          <input type="radio" name="topic" value="{{ this }}" id="{{ this }}">
          <span class="icon-check"></span>
          <label for="{{ this }}">{{ this }}</label>
        </div>
        {{/each}}
      </fieldset>
    {{/each}}
    </div>
  </div>
  <div class="content extra-content">

  </div>
</form>

<div class="progress-wrapper">
  <progress value=0 max=100></progress>
  <input type="submit" value="Submit" disabled="disabled">
</div>