---
path-to-root: ../../
title: Recruiting Contacts | Career Center
name: recruiting-contacts
type: recruiting-contacts
layout: employers.hbs

style:
- contact-card
- contact
---

<section class="card">
  <h2>Recruiting Contacts</h2>
</section>

<section class="staff-container">
  {{#each recruiting.contact}}
    <div class="contact-card card">
      <div class="major"><h3>{{major}}</h3></div>
      <div class="contact-image">
        <img src="assets/images/staff/{{getImageName name}}.jpg" alt="{{name}}">
      </div>
      <div class="contact-info">
        <h2>{{getFirstName name}}<br/>{{getLastName name}}</h2>
        <h3 class="phone"><a href="tel:{{formatPhoneNumber phone}}">{{formatPhoneNumber phone}}</a></h3>
        <h3 class="email"><a href="mailto:{{email}}@auburn.edu">{{email}}</a></h3>
      </div>
    </div>
  {{/each}}
</section>