---
name: oth-about
type: aoth
title: Auburn on the Hill | Career Center
path-to-root: ../
layout: no-social.hbs

style:
- attributes
- accordion
- point-of-contact
- contact
---

<section class="card">
  <h2>What is Auburn on the Hill?</h2>
</section>
<section class="flex buttons">
  <a class="flat-btn flex-half" href="auburn-on-the-hill/about.html#faq">Frequently Asked Questions</a>
  <a class="flat-btn flex-half flat-btn--white" href="auburn-on-the-hill">Back to Overview</a>
</section>

<section class="card aoth-content">
  <h3>Government.</h3>
  <blockquote>
    <em class="muted">
      "I learned so much more about our government 
      and how it works by being involved than I 
      ever learned in a government class."
    </em>
    <p class="muted"><em>intern, summer 2012</em></p>
  </blockquote>
  <p>
    Auburn on the Hill connects Auburn University 
    students to prestigious congressional 
    internship opportunities in Washington D.C. 
  </p>
  <ul class="attributes">
    <li class="attribute">
      <a class="icon icon-briefcase"></a>
      <div class="details">Connect with the nation's leaders and their staffs</div>
    </li>
    <li class="attribute">
      <a class="icon icon-law"></a>
      <div class="details">Learn about government procedures</div></li>
    <li class="attribute">
      <a class="icon icon-tie"></a>
      <div class="details">Get leadership training</div>
    </li>
  </ul>
</section>
<section class="card aoth-content">
  <h3>Culture.</h3>
  <p>
    Beyond the amazing professional experience, 
    you will meet people from around the world 
    and enjoy the many opportunities 
    available in our nationís capitol.
  </p>
  <ul class="attributes">
    <li class="attribute">
      <a class="icon icon-office"></a>
      <div class="details">Visit museums and cultural centers</div>
    </li>
    <li class="attribute">
      <a class="icon icon-audiotrack"></a>
      <div class="details">Go to a play or concert</div>
    </li>
    <li class="attribute">
      <a class="icon icon-baseball"></a>
      <div class="details">See major sporting events</div>
    </li>
  </ul>
</section>
<section class="card aoth-content">
  <h3>You.</h3>
  <p>
    Most importantly, a congressional internship 
    can enhance your resume, expand your 
    horizons, and help you achieve your career 
    goals.
  </p>
  <ul class="attributes">
    <li class="attribute">
      <a class="icon icon-compass"></a>
      <div class="details">Explore career options</div>
    </li>
    <li class="attribute">
      <a class="icon icon-graduation-cap"></a>
      <div class="details">Enrich your education</div>
    </li>
    <li class="attribute">
      <a class="icon icon-star-full"></a>
      <div class="details">Pursue your dream</div>
    </li>
  </ul>
</section>
<section class="contact card">
  <h3>
    Interested? 
  </h3>
  <div class="point-of-contact">
    <img src="assets/images/staff/meaghan.jpg" alt="Meaghan Weir.">
    <div class="poc-info contact">
      <p class="name">Meaghan Weir</p>
      <p class="phone"><a href="tel:(334) 844-4000">(334) 844-4000</a></p>
      <p class="email"><a href="mailto:meaghan@auburn.edu">meaghan@auburn.edu</a></p>
    </div>
  </div>
</section>
<section class="card">
  <h3 class="faq-header">Frequently Asked Questions</h3>
  <div class="faq" id="faq" aria-multiselectable="true">
    {{#each oth.question }}
    <div class="accordion">
      <a class="accordion-header flat-btn flat-btn--white faq-header collapsed"
         role="tab" 
         data-toggle="collapse"
         href="#{{ id }}" 
         aria-expanded="false" 
         aria-controls="{{ id }}">
        {{ question }}
      </a>
      <div style="height: 0px;"
           id="{{ id }}"
           role="tabpanel" 
           aria-labelledby="{{ id }}-heading">
        <div class="accordion-entry">
          {{ answer }}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>