<div class="card unpadded"><a href="{{#is name 'employer-student-workers'}}employers/{{/is}}aboutus/staff.html" class="flat-btn flat-btn--white">Back to Full-time Staff</a></div>

{{#each student-workers.category}}
  <div class="card">
    <h2>{{this}}</h2>
  </div>
  <div class="staff-container">
    {{#each ../student-workers.member}}
      {{#is category ../this}}
        <section class="contact-card">
          <div class="contact-image">
            <img src="assets/images/staff/student-workers/{{getImageName name}}.png"
                 alt="{{ name }}">
          </div>
          <div class="contact-info">
            <h2>{{getFirstName name}}</h2>
            {{#if position}}<h3>{{position}}</h3>{{/if}}
            {{#if major}}<h3>{{#if year}}{{year}} in {{/if}}{{major}}</h3>{{/if}}
          </div>
        </section>
      {{/is}}
    {{/each}}
</div>
{{/each}}